body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #131722; /* Темний фон, як у Binance */
}

#chart-container {
    width: 100%;
    height: 100%;
}